*{
    margin:0;
    padding:0;
   
    overflow:hidden;
}
body{
    background-image: url('images/night.jfif');
    
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    
}
body .okay{
    
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    align-items:center;
    text-align: center;
    position: relative;
    z-index: 2;
    padding: 20px;
}
#tree{
    height: 600px;
    width:450px;
    
    padding-bottom:10px;
}
#grw, #rainy, #sunl{
    height:50px;
 padding:15px;
 font-size:15px;
 color:rgb(0, 0, 0);
 font-family:Verdana, Geneva, Tahoma, sans-serif;
 box-shadow: -1px -5px 15px #41465b , 5px 5px 15px #41465b;
 border-radius: 7px;
 cursor:grab;
}
#grw:hover{
    box-shadow:1px 1px 14px #20232e, -1px -1px 13px #545b78;
}
#idk{
    color:white;
    padding:10px;
    font-size:30px;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index:2;
}